.sidebar {
  width: 250px;
  min-height: 100%;
  border-right: 1.5px solid hsl(200, 18%, 23%);
  padding: 20px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar .logo img {
  width: 50px;
}

.sidebar .logo .title {
  display: flex;
  flex-direction: column;
}

.sidebar .logo .title span {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.sidebar .logo .title .subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #21a4ec;
  font-weight: 600;
}

.sidebar .buttons {
    margin-top: 50px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.sidebar .buttons .btn-link {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s;
}

.sidebar .buttons .btn-link:hover {
  background-color: #323e45;
}

.sidebar .buttons .btn-link.active {
  background-color: #21a4ec;
  color: white;
}